<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title>Route</title>
  <style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map {
      height: 100%;
    }

    /* Optional: Makes the sample page fill the window. */
    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
</head>

<body>
  <div id="map"></div>
  <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-database.js"></script>
  <script>

    // This example creates a 2-pixel-wide red polyline showing the path of
    // the first trans-Pacific flight between Oakland, CA, and Brisbane,
    // Australia which was made by Charles Kingsford Smith.
    var map;

    /* function readData(id) {
      var refFirebase = firebase.database().ref('users/r_1587894357/dataRoute');
      refFirebase.once('value').then(function (snapshot) {
        const a = snapshot.val().markers[0];
        console.log(snapshot.val())
      });
    } */
    var myInfo, myMaker;

    function initMap() {

      initFireBase();
      const id = '{{id}}';

      firebase.database().ref('users/' + id + '/dataRoute').once('value').then(function (snapshot) {
        const data = snapshot.val();

        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          center: data.markers[0].geo,
          mapTypeId: 'roadmap',
          disableDefaultUI: true,
        });
        addYourLocationButton();

        data.polylines.forEach(e => {
          var path = new google.maps.Polyline({
            path: e,
            geodesic: true,
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 10
          });

          path.setMap(map);

        });


        data.markers.forEach(e => {
          var marker = new google.maps.Marker({
            map: map,
            animation: google.maps.Animation.DROP,
            position: e.geo
          })
          var infowindow = new google.maps.InfoWindow();
          infowindow.setContent('<div>' + e.instuction + '</div>');
          infowindow.open(map, marker);
        });


      });
    }


    function initFireBase() {
      const firebaseConfig = {
        apiKey: "AIzaSyBDVEejsbGSQW8pxMIT22ZxkJUg859LKRo",
        authDomain: "botbus-a0a7e.firebaseapp.com",
        databaseURL: "https://botbus-a0a7e.firebaseio.com",
        projectId: "botbus-a0a7e",
        storageBucket: "botbus-a0a7e.appspot.com",
        messagingSenderId: "380831720444",
        appId: "1:380831720444:web:9604e3824585138816c879",
        measurementId: "G-26WE7HBV9G"
      };
      firebase.initializeApp(firebaseConfig);

    }

    function addYourLocationButton() {
      var controlDiv = document.createElement('div');

      var firstChild = document.createElement('button');
      firstChild.style.backgroundColor = '#fff';
      firstChild.style.border = 'none';
      firstChild.style.outline = 'none';
      firstChild.style.width = '28px';
      firstChild.style.height = '28px';
      firstChild.style.borderRadius = '2px';
      firstChild.style.boxShadow = '0 1px 4px rgba(0,0,0,0.3)';
      firstChild.style.cursor = 'pointer';
      firstChild.style.marginRight = '10px';
      firstChild.style.padding = '0px';
      firstChild.title = 'Your Location';
      controlDiv.appendChild(firstChild);

      var secondChild = document.createElement('div');
      secondChild.style.margin = '5px';
      secondChild.style.width = '18px';
      secondChild.style.height = '18px';
      secondChild.style.backgroundImage = 'url(https://maps.gstatic.com/tactile/mylocation/mylocation-sprite-1x.png)';
      secondChild.style.backgroundSize = '180px 18px';
      secondChild.style.backgroundPosition = '0px 0px';
      secondChild.style.backgroundRepeat = 'no-repeat';
      secondChild.id = 'you_location_img';
      firstChild.appendChild(secondChild);

      /* google.maps.event.addListener(map, 'dragend', function () {
        $('#you_location_img').css('background-position', '0px 0px');
      }); */

      firstChild.addEventListener('click', function () {
        var imgX = '0';
        var animationInterval = setInterval(function () {
          if (imgX == '-18') imgX = '0';
          else imgX = '-18';
          $('#you_location_img').css('background-position', imgX + 'px 0px');
        }, 500);
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function (position) {
            var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
            if (!myMaker) {
              myMaker = new google.maps.Marker({
                animation: google.maps.Animation.DROP,
                position: latlng,
                map: map
              });
            } else {
              myMaker.setPosition(latlng);
              myMaker.setMap(map);
            }
            //map.setCenter(latlng);
            if (!myInfo) {
              myInfo = new google.maps.InfoWindow();
            }
            map.setZoom(16);
            map.setCenter(latlng);

            myInfo.setContent('<div>Bạn ở đây</div>');
            myInfo.open(map, myMaker);
            clearInterval(animationInterval);
            $('#you_location_img').css('background-position', '-144px 0px');
          });
        }
        else {
          clearInterval(animationInterval);
          $('#you_location_img').css('background-position', '0px 0px');
        }
      });

      controlDiv.index = 1;
      map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(controlDiv);
    }
  </script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuTd5eFJwpova9M3AGpPrSwmzp_hHWVuE&callback=initMap">
    </script>
</body>

</html>